<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">    
<link rel="stylesheet" href="{% static 'core/css/all.min.css
' %}">    

{% block style %}
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
{% endblock style %}
        

    <title>
        {% block title %}Home{% endblock title %}
    </title>

    <style>
        
        {% block inline-css %}
            
        {% endblock inline-css %}
            
    </style>
        
</head>
<body>
    
    {% block body %}
        
    {% endblock body %}
        
    
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.js' %}"></script>
    <script src="{% static 'core/js/proper.js' %}"></script>
    <script src="{% static 'core/js/all.min.js' %}"></script>
</body>
</html>