{% extends 'core/base.html' %}
{% load static %}

{% block title %}

    {{block.super}} - Core
    
{% endblock title %}
    

{% block style %}
    <link rel="stylesheet" href="{% static 'core/css/index.css' %} ">
{% endblock style %}
    

{% block body %}

<!-- <a href="sample_app/"><i class="fa-solid fa-house"></i>Sample App</a><br>

<a href={{s_a}}><i class="fa-solid fa-house"></i>Sample App</a><br> -->

<!-- <a href="{% url 'sample_app' %}"><i class="fa-solid fa-house"></i>Sample App</a><br> -->

{% url 'sample_app' as SA %}
<a href={{SA}}><i class="fa-solid fa-house"></i>Sample App</a><br>


{% endblock body %}
    